!!!
html
	head
		title #{title}
		link(rel="stylesheet", href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/bootstrap.flatly.min.css')
		link(rel='stylesheet', href='/css/style.css')
		link(rel='stylesheet', href="//cdnjs.cloudflare.com/ajax/libs/select2/3.4.1/select2.min.css")
		link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/chosen/1.0/chosen.min.css')

		link(rel='shortcut icon', href='/img/favicon.ico', type='image/x-icon')
		link(rel='icon', href='/img/favicon.ico', type='image/x-icon')

		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='title', content='#{title}')

		block metas
			meta(name='description', content='')
	body
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
		script(src="/socket.io/socket.io.js")
		script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/select2/3.4.1/select2.min.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/chosen/1.0/chosen.jquery.min.js")
		// script(src="js/flatly.js")
		block content
		