body {
  padding-top: 100px;
  padding-left: 10px;
  padding-right: 10px;
}

.collectionDiv{
	height: 40px;
	width: 80px;
}

#recipeContainer {
	text-align: center;
	background-color: #ecf0f1;
	float: right;
	/*display: inline-block;*/
	width: 50%;
	/*border-radius: 15px;*/

}
#searchEngine {
	/*text-align: center;*/
	display: inline-block;
	width: 50%;
	position: fixed;
	background-color: white;
	opacity: 1;
}

#recipeRepo {
	list-style-type: none;
	text-align: left;
	margin-left: 0;
	padding-left: 5px;
}
.matchedRecipe{
	/*background-color: #1abc9c;*/
	margin: 1px;
	height: 100px;
	padding: 2px;
	margin-left: 0;
}
.recipeImg{
	float: left;
	height: 80px;
	padding-right: 5px;

}
#matchedTitle {

	text-align: center;
	/*display: inline-block;*/
	width: 100%;
}
.chosen-container {
	margin-bottom: 1px;
}
.jumbotron.page-header{
	margin-top: -15px;
	
}

#login-heading,#register-heading{
	text-align: center;
	margin-top: -5px;
}

.tuck {
	transform: translateX(-430px);
}

.form-horizontal{
	font-size: 15px;
}