/*#nonRepo,#matchingRepo{
	background-color: white;
}*/

#substitute-results-header{
	text-align: center;
	background-color: #ecf0f1;
	/*float: right;*/
	display: inline-block;
	/*width: 50%;*/
	/*height: 1500px;*/
	z-index:1;
	position: relative;
	/*font-size: 40px;*/
	border-radius: 10px;
	margin-top: 10px;
}
#substitution-form{
	text-align: center;
}

#subEngine {
	text-align: center;
	display: inline-block;
	/*width: 50%;*/
	/*position: fixed;*/
	background-color: none;
	z-index: 0;
	border-radius: 10px;
	margin-top: -530px;

}
.substitution-submit{
	text-align: center
}
#altButton{
	background-color: #18bc9c;
	font-size: 22px;
	margin-top: 200px;
}
.substitution-submit{
	text-align: left;
}
.chzn-select{
	text-align: left;
}
table{
	font-size: 12px;
	height: 50px;
}
th{
	text-align: center;
	border-bottom: 2px solid #13987e;

}
tr{
	/*border-bottom: 1px solid #13987e;*/

}
td,th{
	border-left: 2px solid #13987e;
}
th:first-child, td:first-child {
	border-left: none;
}
td{
	padding: 5px;
}

.tuck {
	transform: translateX(430px);
}
