/*#nonRepo,#matchingRepo{
	background-color: white;
}*/

/*#substitute-results{
	text-align: center;
	background-color: #ecf0f1;
	float: right;
	display: inline-block;
	width: 50%;
	height: 1500px;
}*/
#substitute-results-header{
	text-align: center;
	background-color: #ecf0f1;
	float: right;
	display: inline-block;
	/*width: 50%;*/
	/*height: 1500px;*/
	z-index:1;
	position: relative;
	/*font-size: 40px;*/

}

#subEngine {
	text-align: center;
	display: inline-block;
	/*width: 50%;*/
	/*position: fixed;*/
	background-color: none;
	z-index: 0;
}

.substitution-submit{
	text-align: left;
}

table{
	font-size: 12px;
}
th{
	text-align: center;
	border-bottom: 2px solid #13987e;

}
tr{
	/*border-bottom: 1px solid #13987e;*/

}
td,th{
	border-left: 2px solid #13987e;
}
th:first-child, td:first-child {
	border-left: none;
}
td{
	padding: 5px;
}
